<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>ServletBasics</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>ReadUserServlet</servlet-name>
		<servlet-class>com.sunil.user.servlet.ReadUserServlet</servlet-class>
		
		<init-param>
		<param-name>dbUrl</param-name>
		<param-value>jdbc:mysql://localhost/mydb</param-value>
		</init-param>
		
		<init-param>
		<param-name>dbUser</param-name>
		<param-value>root</param-value>
		</init-param>
		
		<init-param>
		<param-name>dbPassword</param-name>
		<param-value>Rashmikala12</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ReadUserServlet</servlet-name>
		<url-pattern>/readServlet</url-pattern>
	</servlet-mapping>
	
	

</web-app>